</h1> Create a new Artist </h1>

<%= form_for(@artist) do |f| %>
<label> Artist name <label>
<%= f.text_field :name %> <br>
<label> Artist Title - Must be Unique <label>
<%= f.text_field :title %> <br>
<label> Artist age <label>
<%= f.text_field :age %> <br>
<%= f.submit%>
<% end %>